<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189246789691-hh1is809giaj71fgigrmpk9fdkb6c69i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189246789691-hh1is809giaj71fgigrmpk9fdkb6c69i</string>
	<key>API_KEY</key>
	<string>AIzaSyCExJb4tSu0eIbqWLm6EWWfKG5hCcxa5cM</string>
	<key>GCM_SENDER_ID</key>
	<string>189246789691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waterreminder</string>
	<key>PROJECT_ID</key>
	<string>water-reminder-c1676</string>
	<key>STORAGE_BUCKET</key>
	<string>water-reminder-c1676.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189246789691:ios:2f52960c9433c00010a41e</string>
	<key>DATABASE_URL</key>
	<string>https://water-reminder-c1676.firebaseio.com</string>
</dict>
</plist>